<div class="panel panel-default row">
  <div class="panel-body table-gain col">
    <h2>My Accounts</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Particulars</th>
          <th scope="col">Investment Cost</th>
          <th scope="col">Latest Value</th>
          <th scope="col">Today's Gain</th>
          <th scope="col">Unrealised Gain</th>
          <th scope="col">Realised Profit/Loss</th>
          <th scope="col">Total Gain</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Stock</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              (click)="createFund()"
            >
              Add
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">Mutual Funds</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              (click)="createFund()"
            >
              Add
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">ULIPs</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              (click)="createFund()"
            >
              Add
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">BULLION</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              (click)="createFund()"
            >
              Add
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">Fixed Income</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              (click)="createFund()"
            >
              Add
            </button>
          </td>
        </tr>
        <tr>
          <th scope="row">Loans</th>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>0</td>
          <td>
            <button
              type="button"
              class="btn btn-warning"
              (click)="createFund()"
            >
              Add
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <h4 class="px-2 py-2">Recommended for you</h4>
    <div class="col-4">
      <h4>Stocks</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">stocks</th>
            <th scope="col">Buy Recos</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td></td>
          </tr>
          <tr>
            <th scope="row"></th>
            <td colspan="2"></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h4>Mutual Funds</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Mutual Funds with highest returns</th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">ICICI Pru Bluechip Fund - IO</th>
            <td>17.0%</td>
          </tr>
          <tr>
            <th scope="row">MO S&P BSE Quality Index Fund - DP - (ID)</th>
            <td>11.2%</td>
          </tr>
          <tr>
            <th scope="row">MO S&P BSE Quality Index Fund - RP - (ID1)</th>
            <td>10%</td>
          </tr>
          <tr>
            <th scope="row">ABSL Nifty Next 50 ETF</th>
            <td>9.9%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="col-4">
      <h4>Fixed Deposit</h4>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Bank</th>
            <th scope="col">Interest Rate</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Axis Bank</th>
            <td>9.2%</td>
          </tr>
          <tr>
            <th scope="row">Bank of Baroda</th>
            <td>8.4%</td>
          </tr>
          <tr>
            <th scope="row">Kotak Bank</th>
            <td>8.3%</td>
          </tr>
          <tr>
            <th scope="row">ICICI Bank</th>
            <td>8.2%</td>
          </tr>
          <tr>
            <th scope="row">SBI Bank</th>
            <td>7%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
