<div class="panel panel-default mt-4">
  <div class="panel-body">
    <nav style="--bs-breadcrumb-divider: '>'" aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Portpolio</li>
      </ol>
    </nav>
    <div class="content-block">
      <div class="d-flex">
        <div class="p-2 flex-grow-1"><h2>Investment dashboard</h2></div>
        <div class="p-2 res-block">
          My Assets
          <div class="res-text">
            <span>{{ dashboardData.myasset }}</span>
          </div>
        </div>
        <div class="p-2 res-block">
          My Networth
          <div class="res-text">
            <span> ₹ {{ dashboardData.networth }}</span>
          </div>
        </div>
        <div class="p-2 res-block">
          My Liabilities
          <div class="res-text">
            <span>{{ dashboardData.liablity }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="panel panel-default row">
  <div class="panel-body table-gain col">
    <h2>My Assets</h2>
    <table class="table">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Unrealized Gain</th>
          <th scope="col">Realized Gain</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Latest Value</th>
          <td>
            overall Gain
            <div>{{ dashboardData.overallgain }}</div>
          </td>
          <td>
            Realized Gain
            <div>{{ dashboardData.realisedgain }}</div>
          </td>
        </tr>
        <tr>
          <th scope="row">Investment Cost</th>
          <td>
            Todays's Gain
            <div>{{ dashboardData.todaygain }}</div>
          </td>
          <td>
            Capital Gain
            <div>{{ dashboardData.captitalgain }}</div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="diagram col col-6">
    <highcharts-chart [Highcharts]="Highcharts" [options]="chartOptions">
    </highcharts-chart>
  </div>
</div>
